/* styles.css - Version 3 */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #37474f;
    color: #fff;
    padding: 20px;
    text-align: center;
}
main {
    margin: 20px;
    padding: 20px;
}
header h1 {
    color: #fff;
}

#name {
    margin: 0;
}
#name, #job-title {
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #42a5f5;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
}

address {
    font-style: normal;
    text-align: center;
    margin-top: 10px;
}

address a {
    text-decoration: none;
}



h2 {
    margin-top: 20px;
    color: #060707;
}

.job {
    margin-bottom: 20px;
}

.job h3 {
    color: #060707;
    margin-bottom: 5px;
}

.job p {
    margin-top: 5px;
}

