/* Global Styles */
/* Professional Corporate Theme */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #232323;
    color: #fff;
    margin: 0;
    padding: 0;
}
main {
    margin: 20px;
}
section {
    padding-top: 140px;
}
header {
    background-color: rgb(55, 71, 79);
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
}

header img {
    width: 130px; /* Adjust the size of the circle as needed */
    border-radius: 50%; /* Makes the container circular */
    overflow: hidden; /* Hides overflow content */
    border: 4px solid rgb(91, 39, 39); /* Adds a thick red border */
    margin-left: 30px;
}


#menu li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}



#menu li a {
    color: #42a5f5;
    text-decoration: none;
    font-size: 15px;
}

#menu li a:hover {
    text-decoration: none;
}


a {
    text-decoration: none;
}




@media only screen and (max-width: 600px) {
    .circle-container {
        width: 80px; /* Adjusted size for smaller screens */
        height: 80px; /* Adjusted size for smaller screens */
        top: 15px; /* Adjusted position for smaller screens */
        left: 50%; /* Adjusted for centering horizontally */
        transform: translateX(-50%); /* Centering horizontally */
    }

    header h1 {
        padding-top: 60px;
    }
}



footer {
    background-color: #37474f;
    color: #B2BEB5;
    padding: 20px;
    text-align: center;
}


/* Footer Styles */
.contact_two_columns {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 10px;
    padding-left: 30px;
}
.contact_info_column {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: left;
}

.contact_info_column ul {
    margin-top: 36px;
    list-style: none;
    color: #B2BEB5;
}

.contact_info_column li {
    margin-bottom: 10px;
}
.contact_info_column img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

/* Project Styles */

.project_two_columns {
    display: flex;
    flex-direction: row;
}

.project_description {
    width: 50%;
}

.project_logo {
    width: 50%;
    text-align: center;
}

.project_logo img {
    width: 30%;
    aspect-ratio: 1;
}
/* Hover Effects */
.project {
    background-color: #424242;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.project a {
    color: #0077CC;
}

.project a:hover {
    color: #42a5f5;
}


.project:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

  /*Education Styles*/

  .two-columns-education {
    display: flex;
    flex-direction: row;
  }

  .column-institute-name {
    width: 50%;
  }
  .column-institute-logo {
    width: 50%;
    text-align: center;
  }

  .column-institute-logo img {
    width: 30%;
    aspect-ratio: 1;
  }
  
  .column-institute-name a {
    color: #fff;
  }

  .column-institute-name a:hover {
    color: #42a5f5;
  }

