/* Global Styles */
/* Professional Corporate Theme */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #232323;
    color: #fff;
    margin: 0;
    padding: 0;
}

.circle-container {
    position: absolute;
    top: 20px;
    left: 100px;
    width: 120px; /* Adjust the size of the circle as needed */
    height: 120px; /* Adjust the size of the circle as needed */
    border-radius: 50%; /* Makes the container circular */
    overflow: hidden; /* Hides overflow content */
    border: 4px solid rgb(91, 39, 39); /* Adds a thick red border */
}

@media only screen and (max-width: 600px) {
    .circle-container {
        width: 80px; /* Adjusted size for smaller screens */
        height: 80px; /* Adjusted size for smaller screens */
        top: 15px; /* Adjusted position for smaller screens */
        left: 50%; /* Adjusted for centering horizontally */
        transform: translateX(-50%); /* Centering horizontally */
    }

    header h1 {
        padding-top: 60px;
    }
}

.profile-picture {
    width: 100%; /* Makes the image fill the container */
    height: 100%; /* Makes the image fill the container */
    object-fit: cover; /* Scales the image to cover the container */
}
main {
    margin: 20px;
}

header, footer {
    background-color: #37474f;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li:not(:last-child)::after {
    content: '\2022'; /* Unicode character for a bullet point */
    margin-left: 10px;
    margin-right: 7px; /* Adjust the spacing between the menu item and the dot */
    color: black; /* Color of the dot */
}

nav ul li a {
    color: #42a5f5;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
}

main {
    padding: 20px;
}

a {
    text-decoration: none;
}
/* Hover Effects */
.project, .award, .certification {
    background-color: #424242;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.project a, .award a, .certification a {
    color: #fff;
}

.project a:hover, .award a:hover, .certification a:hover {
    color: #42a5f5;
}


.project:hover, .award:hover, .certification:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
